<!DOCTYPE html>
<html lang="en" layout:decorator="layout/default_layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row mt-3">
            <div class="h1">All Factories</div>
            <div class="col-md-12 mt-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="f : ${factories}">
                            <td th:text="${f.id}"></td>
                            <td th:text="${f.name}"></td>
                            <td th:text="${f.address}"></td>
                            <td>
                                <a th:href="'/factory/'+${f.id}" class="btn btn-info btn-sm">Detail</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>