<!DOCTYPE html>
<html lang="en" layout:decorator="layout/default_layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="p-5 bg-light" layout:fragment="content">
        <div class="container">
            <h1 class="display-3">Welcome to Ice Factory</h1>
            <p class="lead">Quality ice for every ocassion</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Explore</a>
            </p>
        </div>
    </div>
</body>
</html>